<div id="intro-page-container">
    <a href="/" title="VSL Community" class="" id="intro-page-VSL"></a>
    <a href="http://forum.worldoftanks.ru/index.php?/topic/2088309-игровое-сообщество-vsl-приглашает-игроков-для-сов/" title="WoT" class="" id="intro-page-WoT"></a>
    <a href="http://forum.worldoftanks.ru/index.php?/topic/2088309-игровое-сообщество-vsl-приглашает-игроков-для-сов/" title="WoT" class="" id="intro-page-WoT-text"></a>
    <a href="https://vk.com/vsl_community/" title="VK group" class="" id="intro-page-VK"></a>
    <a href="https://vk.com/vsl_community/" title="VK group" class="" id="intro-page-VK-text"></a>
    <a href="https://steamcommunity.com/groups/vsl_community/discussions/0/2440336020750202944/" title="StayOut" class="" id="intro-page-SO"></a>
    <a href="https://steamcommunity.com/groups/vsl_community/discussions/0/2440336020750202944/" title="StayOut" class="" id="intro-page-SO-text"></a>
</div>

<script src="/js/intro-script.js"></script>